<div>
    <div class="row">
        <div class="col-md-6">
            <a href="">
                <h1>Our Book Store</h1>
            </a>
        </div>

          <div class="col-md-6 d-flex justify-content-end">
              <a routerLink="/cart" style="padding: 10px;"
              class="button fancy-button">
              <i class="fas fa-shopping-cart"></i>
               Checkout
              <!-- TODO add item count ({{itemCount()}}) -->
              </a>
          </div>
        </div>
</div>
