

ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
    /* overflow: hidden; */
}

li {
    margin: 0;
    padding: 0;
    float: right;
    align-items: right;

}

a {
    padding: 14px 16px;
}

h1 {
    background-color: rgb(230, 211, 71);
    color: rgb(247, 245, 245);
    text-align: center;
    font-size: 40pt;
    }

div {
    display:inline-block; 
}
