.search-container{
  margin-right: 10px;
  text-decoration-color: black;
  text-align: center;

}

input[type="text"]{
  width: 240px;
  height: 30px;
  padding:15px;
  border: none;
  background: rgb(233, 226, 226);
  margin-left: 10px;
}
