<!-- 
<div>
  <app-top-bar></app-top-bar>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/register"><app-register></app-register></a>
      </div>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <app-nav-bar></app-nav-bar>
  </div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/register"><app-register></app-register>Register</a>
    </div>
  </nav> 
  
  <-- main content container -->
  <!-- <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div> -->
  
<app-filter></app-filter>
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
