<!-- <p>register works!</p>

<button routerLink="registerNewUser()"> Register </button> -->
<!--
<h2> Register </h2>
<form [formGroup]="registerForm">
    <div class = "form-group">
        <label for="firstName">First Name</label>
        <input type=" text" formControlName="firstName" class="form-control" />
    </div>
    <div class = "form-group">
        <label for="lastName">Last Name</label>
        <input type=" text" formControlName="lastName" class="form-control" />
    </div>
    <div class = "form-group">
        <label for="deliveryAddress">Delivery Address</label>
        <input type=" text" formControlName="deliveryAddress" class="form-control" />
    </div>
    <div class = "form-group">
        <label for="phone">Phone</label>
        <input type=" text" formControlName="phone" class="form-control" />
    </div>
    <div class = "form-group">
        <label for="email">Email</label>
        <input type=" text" formControlName="email" class="form-control" />
    </div>
    <div class = "form-group">
        <label for="password">Password</label>
        <input type=" text" formControlName="password" class="form-control" />
    </div>
    <div class="form-group">
        <button (click)="registerNewUser()" [disabled]="loading" class="btn btn-primary">
            <a routerLink="/register"></a> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
-->
