<!doctype html>
<html lang="en">
<head>

</head>
<body>

  <img src="Screen Shot 2022-09-17 at 3.00.58 PM.png" alt="Used Books" width="500" height="600">
  
  <h1><b>Our Featured Books of the Month!</b></h1>
  
  <div *ngFor="let product of products">

    <h3>
      <a 
      [title] ="product.name + ' details'"
      [routerLink]="['/products', product.isbn]">
      {{ product.name }}
      </a>
    </h3>

      <p *ngIf="product.description">
      <b>Description:</b> {{ product.description }}
      </p>

      <app-product-alerts
        [product]= "product"
        (notify)="onNotify()">
      </app-product-alerts>

  </div>
  <img src="Screen Shot 2022-09-17 at 3.00.58 PM.png" alt="Used Books" width="500" height="600">
</body>
</html>
