body {
  font-family: "Source Sans Pro", Arial, sans-serif;

  font-size: 18px;
  line-height: 1.5;
  color: rgba(239, 242, 248, 0.975);
  background: rgb(90, 171, 233);
  height: 100%;

  padding: 100px; 
  
}

a:hover, a:active, a:focus {
  color: #52d3aa;
  outline: none;
}

a {
  color: #53504c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

p {
  margin-bottom: 1.5em;
}

  h1 {
  color: rgba(233, 241, 243, 0.975);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
