<!-- <!doctype html>
<html lang="en">
<head>

</head>
<body> -->
  <h1>Best Books of 2022</h1>

  <div *ngFor="let product of products">
  
    <h4>
      <a [title]="product.name + ' details'">
        {{ product.name }}
      </a>
    </h4>
  
    
      <p *ngIf="product.description">
      Description: {{ product.description }}
      </p>
      
      <button type="button" (click)="addToCart()">
        Add to Cart
      </button>
      
      <app-product-alerts
        [product]="product">
        (notify)="onNotify()">
      </app-product-alerts>
  
  </div>
<!-- </body>
</html> -->