<!-- <!DOCTYPE html>
<html>
<head>
    <style>
       .button {
        border: none;
        color: rgb(154, 137, 11);
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        
      }
      .button:hover {
      background-color: #375cb2;
      color: white;
    }
      </style>
</head>

<body> -->
    <button class="button" (click)="logout()">Logout</button>
<!-- </body>

</html> -->