<!DOCTYPE html>/
<html lang="en">
  <body>
    <head>
      <link rel="stylesheet" href="checkout.component.css">
    </head>



!-->
  <div class="nav-bar">
    <div class="col-md-6">
      <h1>Our Book Store</h1>
    </div>
  -->



    <div class="nav-bar">
      <div class="checkout-panel">
        <div class="panel-body">
          <h2 class="title">Checkout</h2>
          <div class="input-fields">
            <div class="column-1">
              <label for="cardholder">First Name</label>

              <input type="text" id="cardholder" />
              <br>
              <br>
              <div>
                <label for="cardholder">Last Name</label>
                <input type="text" id="cardholder" />
              </div>

              <div class="small-inputs">
                <div>
                  <label for="date">Valid thru</label>
                  <input type="text" id="date" placeholder="MM / YY" />
                </div>
                <br>
                <div>
                  <label for="verification">CVV*</label>
                  <input type="password" id="verification" />
                </div>
              </div>
              <br>
              <label for="address">Address</label>
              <input type="text" id="Delivery address">
            </div>
            <div class="column-2">
              <label for="cardnumber">Card Number</label>
              <input type="text" id="cardnumber" />
              <span class="info">* CVV is the three digit security code on the back of your card.</span>
            </div>
          </div>
        </div>
        <div>
          <button class="btn back-btn">Back</button>
          <button class="btn next-btn">Confirm payment</button>
        </div>
      </div>
    </div>
  </body>
</html>
